<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>modifyTip</title>
    <link rel="stylesheet" href="/stylesheets/modifyTip.css">
</head>
<body>
<div class="tipCard">
    <div class="cardContent">
        <img src="/images/check.png" alt="" srcset="">
        <div class="tipContent">
            <span class="tipTitle"><%= msg %>成功</span>
            <a href="/showItems">点击此处可查看<%= msg %>结果</a>
        </div>
    </div>
</div>
</body>
</html>