*{
        margin: 0;
        padding: 0;
}
html{
        font-size: 15px;
}
img{
        width: 9rem;
}
.tipCard{
        background-color: #D6FFCC;
        display: table;
        margin: 3rem auto;
        padding: 1rem 3.5rem;
        border: .25rem solid #0C860C;
        border-radius: 1rem;
}
.cardContent{
        display: flex;
        align-items: center;
}
.tipContent{
        display: flex;
        flex-direction: column;
}
.tipTitle{
        font-size: 2rem;
        font-weight: bolder;
        color: #228219;
}
a{
        text-decoration: none;
        color: #23BD23;
        font-size: 1.5rem;
}
img, .tipContent{
        margin: .75rem;
}
span, a{
        padding: .25rem 0;
}